html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
}

@media screen and (min-width: 678px) {
  body {
    font-size: 16px;
  }
}

img {
  width: 100%;
}

.common_header {
  width: 100%;
  background: #5a0fc8;
}

.common_header-inner {
  padding: 2% 5%;
}

@media screen and (min-width: 678px) {
  .common_header-inner {
    padding: 20px 30px;
  }
}

.common_footer {
  width: 100%;
  background: #5a0fc8;
}

.common_footer p {
  margin: 0;
  color: #fff;
  text-align: center;
}

.common_footer-inner {
  padding: 2% 5%;
}

@media screen and (min-width: 678px) {
  .common_footer-inner {
    padding: 20px 30px;
  }
}

.wraper {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 678px) {
  .wraper {
    max-width: 960px;
  }
}

.main_img {
  text-align: center;
  width: 60%;
  margin: 2rem auto;
}

@media screen and (min-width: 678px) {
  .main_img {
    max-width: 400px;
    margin: 4rem auto;
  }
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  border-bottom: double 5px #5a0fc8;
  color: #3d3d3d;
  padding: .6rem 0;
}

.content {
  padding: 0 5%;
  margin: 0 auto 8rem auto;
}

.section_link {
  color: #5a0fc8;
  text-decoration: underline;
}

.section_link:hover {
  text-decoration: none;
}

.section_box {
  margin: 0 auto 2rem auto;
}

@media screen and (min-width: 678px) {
  .section_box {
    margin: 0 auto 4rem auto;
  }
}

.section_link-btn {
  background-color: #5a0fc8;
  display: block;
  color: #fff;
  text-align: center;
  padding: 1.6rem;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 25px;
  width: 80%;
}

.section_link-btn:hover {
  opacity: .6;
}

@media screen and (min-width: 678px) {
  .section_link-btn {
    width: 300px;
  }
}

.section_list-item {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

@media screen and (min-width: 678px) {
  .section_list-item {
    font-size: 1.6rem;
  }
}

.section_text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.text_margin_bottom {
  margin: 0 auto 2rem auto;
}

@media screen and (min-width: 678px) {
  .text_margin_bottom {
    margin: 0 auto 4rem auto;
  }
}

.section_movie {
  margin: 0 auto;
  max-width: 560px;
}

.section_movie iframe {
  width: 100%;
}

.section_img {
  text-align: center;
  width: 80%;
  margin: 2rem auto;
}

@media screen and (min-width: 678px) {
  .section_img {
    max-width: 640px;
    margin: 4rem auto;
  }
}
